<div class="sidebar">
  <h5 class="mb-4 fw-bolder text-center shadow p-2">
  <i class="fa-solid fa-money-check-dollar"></i>   Expense Tracker
  </h5>

  <a routerLink="/dashboard" routerLinkActive="active" class="text-decoration-none mb-3">
    <i class="fa-solid fa-chart-simple"></i> Dashboard
  </a>

  <a routerLink="/transaction" routerLinkActive="active" class="text-decoration-none mb-3">
  <i class="fa-solid fa-clock-rotate-left"></i> Transaction History
  </a>

  <a routerLink="/home" routerLinkActive="active" class="text-decoration-none mb-3">
   <i class="fa-solid fa-house"></i>Home
  </a>
</div>
