<div class="wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
    <h1 class="title">Expense Tracker Register</h1>

    <!-- Email Input -->
    <div class="input-box">
      <input type="text" formControlName="email" placeholder="Email ID" required>
      <i class="fa-solid fa-at icon"></i>
      <div class="text-danger" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
        *Invalid email
      </div>
    </div>

    <!-- Username Input -->
    <div class="input-box">
      <input type="text" formControlName="username" placeholder="Username" required>
      <i class='bx bxs-user icon'></i>
      <div class="text-danger" *ngIf="registerForm.get('username')?.errors && registerForm.get('username')?.touched">
        *Invalid username
      </div>
    </div>

    <!-- Password Input -->
    <div class="input-box">
      <input type="password" formControlName="password" placeholder="Password" required>
      <i class='bx bxs-lock-alt icon'></i>
      <div class="text-danger" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
        *Invalid password
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn">Register</button>

    <!-- Link to Login -->
    <div class="register-link">
      <p>Already have an account? <a routerLink="/">Login</a></p>
    </div>
  </form>
</div>
